.container_1 {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}
.container_2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container_3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_1 header{
    padding-top: 5px;
    padding-bottom: 0px;
    color: rgb(42, 45, 54);
    width: 100%;
    background-color: #dce0e4;
    box-shadow: 1px 1px 10px black;
    text-align: center;
    font-size: 55px;
    color: rgb(42, 45, 54);
    font-style: bold;
}

.container_2 h2, span{
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: whitesmoke;
    border: 5px solid;
    border-radius: 15px;
    border-color: rgb(42, 45, 54);
    background-color: rgb(42, 45, 54);
    font-size: 55px;
}

.container_2  span{
    color: cornflowerblue;
}
.btn {
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    background: transparent;
    border: 5px solid rgb(42, 45, 54);
    border-radius: 12px;
    text-align: center;
    transition: all 0.3s linear;
    font-size: 40px;
    color: rgb(42, 45, 54);
    
}
.btn:hover {
    background: rgb(42, 45, 54);
    color: whitesmoke;
    border-color: rgb(42, 45, 54);
}
body{
    margin: 0;
    padding: 0;
}